<div class="nn-block-cart">
    <div class="nn-top-cart-title">
        <span id="nn-cart-image" class="glyphicon glyphicon-shopping-cart"></span>
        <a href="/Cart/Index">
            <span id="nn-cart-count">@ShoppingCart.Cart.Count</span> item<i class="caret"></i>
            <br /><span>$</span><span class="price" id="nn-cart-total"><strong>@ShoppingCart.Cart.Total</strong></span>
        </a>
    </div>
    <div class="nn-top-cart-content" style="overflow: hidden; display: none;">
        <p class="empty">You have no items in your shopping cart.</p>
        <div class="top-subtotal">Subtotal: <span class="price">$0.00</span></div>
    </div>


</div>