@model IEnumerable<Category>
<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-list"></i><h2>categories</h2></div>
    @foreach (var c in Model) 
    {

        <div class="nn-megamenu-sidebar">
            <ul>
                <li>
                    <a href="/Product/Category?CategoryID=@c.Id">
                        <span class="col-md-3"><img src="/Content/img/icons/@c.Icon" class="img-responsive" /></span>
                        <h5 class="col-md-9"><strong>@c.Name</strong></h5>
                    </a>
                </li>
            </ul>
        </div>
    }
</div><!--end block category-->