<div class="container">
    <div class="footer-static">
        <div class="row">
            <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                <div class="img-logo"><a href="#"><img src="http://www.plazathemes.com/demo/ma_enzo/media/wysiwyg/logo.png" alt=""></a></div>
                <div class="footer-static-content ">
                    <h3>
                        This is Photoshop's version  of Lorem
                        Ipsum.
                    </h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit...</p>
                </div>
            </div>
            <div class="f-col f-col-4 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>OUR SERVICES</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/about-magento-demo-store">About us</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Order History</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Returns</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer-service">Custom Service</a></li>
                        <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/term/popular">Terms &amp; Condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-5 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>our support</h3>
                </div>
                <div class="footer-static-content ">
                    <ul>
                        <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalog/seo_sitemap/category">Sitemap</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer/account/index">Your Account</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/advanced">Advanced Search</a></li>
                        <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-6 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>MY ACCOUNT</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer/account/index">My Account</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Order History</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Returns</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Specials</a></li>
                        <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalog/seo_sitemap/category">Site Map</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-7 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>information</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/about-magento-demo-store">About us</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Delivery Information</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                        <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer-service">Custom Service</a></li>
                        <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/term/popular">Terms &amp; Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>