@model IEnumerable<Product>
<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-tags"></i><h2>Sale off</h2></div>
   
    @foreach (var p in Model) { 
        <div class="nn-product-box">
            <a href="/chi-tiet/@p.Name.ToAscii().ToLower()_@p.Id">
                <img class="img-responsive" src="/Content/img/products/@p.Image" />
            </a>
            <div class="nn-product-box-descriptions">
                <h3 class="nn-product-box-name">
                    <a href="/chi-tiet/@p.Name.ToAscii().ToLower()_@p.Id" title="@p.Name">@p.Name</a>
                </h3>
                <div class="nn-product-box-price ">
                    <span class="">@p.UnitPrice</span>
                </div>
                <div class="nn-product-box-actions">
                    <button type="button" title="Add to Cart" class="btn btn-default add-to-cart" data-id="@p.Id">
                        <span>Add to Cart</span>
                    </button>

                </div>
            </div>
       
       </div>
    }
</div><!--end block sale off-->
@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                //cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                //src = $("#i" + pid).attr("src");
                //newcssfly = cssfly.replace("?", src);
                //$("#cart-fly").html(newcssfly);

                //options = { to: "#nn-cart-image", className: "fly-effect" };
                //$("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
}