<form class="navbar-form navbar-left" role="search" action="/Product/Search">
    <div class="input-group input-group-lg">
        <input id="search" name="keywords" class="form-control" placeholder="search" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>