<!--MENU TRÁI-->
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <span class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Admin/Product">Quản lý hàng hóa</a></li>
            <li><a href="/Admin/Supplier">Quản lý nhà cung cấp</a></li>
            <li><a href="/Admin/Category">Quản lý chủng loại</a></li>
        </ul>
    </li>
    <li><a href="/Admin/Customer">Khách hàng</a></li>
    <li><a href="/Admin/Order">Hóa đơn</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kiểm kê <span class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Admin/Inventory/byCategory">Theo chủng loại</a></li>
            <li><a href="/Admin/Inventory/bySupplier">Theo nhà cùng cấp</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doanh số <span class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Admin/Revenue/byProduct">Theo hàng hóa</a></li>
            <li><a href="/Admin/Revenue/byCategory">Theo chủng loại</a></li>
            <li><a href="/Admin/Revenue/bySupplier">Theo nhà cùng cấp</a></li>
            <li class="divider"></li>
            <li><a href="/Admin/Revenue/byCustomer">Theo khách hàng</a></li>
            <li class="divider"></li>
            <li><a href="/Admin/Revenue/byYear">Theo năm</a></li>
            <li><a href="/Admin/Revenue/byQuarter">Theo quí</a></li>
            <li><a href="/Admin/Revenue/byMonth">Theo tháng</a></li>
        </ul>
    </li>
</ul>

<!--MENU PHẢI-->
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="/Admin/Permission" class="dropdown-toggle" data-toggle="dropdown">Tài khoản <span class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Admin/Account/Logoff">Login</a></li>
            <li><a href="/Admin/Master">Web Masters</a></li>
            <li><a href="/Admin/WebAction">Web Actions</a></li>
            <li><a href="/Admin/Permission">Permissions</a></li>
        </ul>
    </li>
</ul>